<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{/js/updateFieldsState.js}" defer="defer"></script>
</head>

<body>
<div class="container">
    <h1>Ajouter une recette</h1>
    <form th:action="@{/recettes/add}" th:object="${recette}" method="post">
        <label for="annee">Année :</label>
        <input type="number" id="annee" name="nom" th:field="*{anneemois}" required>
        <label for="mois">Mois :</label>
        <input type="number" id="mois" name="nom" th:field="*{numeromois}">
        <label for="categorie">Catégorie :</label>
        <select id="categorie" name="idCategorie">
            <option th:each="categorie : ${categories}"
                    th:value="${categorie.id}"
                    th:text="${categorie.nom}">Choisissez une catégorie</option>
        </select>
        <label for="montant">Montant :</label>
        <input type="number" id="montant" name="nom" th:field="*{montant_budget}">
        <label for="origine">Origine :</label>
        <input type="text" id="origine" name="nom" th:field="*{origine}">

        <div>
            <input type="checkbox" id="hasRecurrence" name="hasRecurrence">
            <label for="hasRecurrence">Activer la récurrence</label>
        </div>

        <label for="recurrenceAnneeMois">Année de fin de la récurrence :</label>
        <input type="number" id="recurrenceAnneeMois" name="recurrenceAnneeMois" th:disabled="${not recette.getHasRecurrence()}">

        <label for="recurrenceNumeroMois">Mois de la fin de la récurrence :</label>
        <input type="number" id="recurrenceNumeroMois" name="recurrenceNumeroMois" th:disabled="${not recette.getHasRecurrence()}">

        <label for="recurrenceTousLesNMois">Répéter tous les N mois :</label>
        <input type="number" id="recurrenceTousLesNMois" name="recurrenceTousLesNMois" th:disabled="${not recette.getHasRecurrence()}">

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>

</body>

</html>