<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Les balises head et les liens vers les feuilles de style et les scripts JS vont ici -->
</head>

<body>
<div class="container">
    <h1>Ajouter une catégorie</h1>
    <form th:action="@{/categories/add}" th:object="${categorie}" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" th:field="*{nom}" required>
        <label for="description">Description :</label>
        <input type="text" id="description" name="nom" th:field="*{description}">
        <label for="Parent">Catégorie parent :</label>
        <select id="Parent" name="idparent">
            <option th:each="cat : ${categories}"
                    th:value="${cat.id}"
                    th:text="${cat.nom}">Choisissez une catégorie parent</option>
        </select>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>

<!-- Les scripts JS peuvent aller ici -->
</body>

</html>