<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Les balises head et les liens vers les feuilles de style et les scripts JS vont ici -->
</head>

<body>
<div class="container">
  <h1>Ajouter une épargne</h1>
  <form th:action="@{/objectifEpargnes/add}" th:object="${objEpargne}" method="post">

    <label for="montant">Montant :</label>
    <input type="text" id="montant" name="montant" th:field="*{montant}" required>
    <label for="annee">Année :</label>
    <input type="text" id="annee" name="annee" th:field="*{anneemois}" required>
    <label for="mois">Mois :</label>
    <input type="text" id="mois" name="mois" th:field="*{numeromois}" required>
    <label for="categorie">Catégorie :</label>
    <select id="categorie" name="idCategorie">
      <option th:each="categorie : ${categories}"
              th:value="${categorie.id}"
              th:text="${categorie.nom}">Choisissez une catégorie</option>
    </select>


    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>

<!-- Les scripts JS peuvent aller ici -->
</body>

</html>