<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/images/home-background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        .container {
            padding-top: 100px; /* Ajustez la marge supérieure pour le contenu */
            color: white; /* Couleur du texte */
        }
        .table th, .table td {
            color: white; /* Couleur du texte pour les cellules du tableau */
        }
    </style>
</head>
<body>
<header>
    <nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" width="100" height="70" class="d-inline-block align-top rounded-circle" alt="MonLogo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEntree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Entrées
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/revenus">Revenu</a>
                            <a class="dropdown-item" href="/recettes">Recette</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSortie" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sortie
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/depenses">Dépense</a>
                            <a class="dropdown-item" href="/epargnes">Epargne</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="objectifEpargnes">Objectifs Epargne</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Catégories</a>
                    </li>
                    <!-- Ajoutez d'autres liens de navigation si nécessaire -->
                </ul>
            </div>
        </nav>
    </nav>
</header>

<div class="container">
    <h1>Bienvenue sur notre calculateur de budget</h1>
    <br>
    <h2>Vue d'ensemble des totaux regroupés par mois</h2>
    <br>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Mois</th>
            <th>Année</th>
            <th>Revenu</th>
            <th>Recette</th>
            <th>Dépense</th>
            <th>Epargne</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="home : ${homes}">
            <td th:text="${home.getMois()}"></td>
            <td th:text="${home.getAnnee()}"></td>
            <td th:text="${home.getTotal_revenus()}"></td>
            <td th:text="${home.getTotal_recettes()}"></td>
            <td th:text="${home.getTotal_depenses()}"></td>
            <td th:text="${home.getTotal_epargnes()}"></td>
        </tr>
        <tr>
            <td colspan="2">Moyennes des 12 mois précédents</td>
            <td th:text="${homesAvg.getAvg_revenus()}"></td>
            <td th:text="${homesAvg.getAvg_recettes()}"></td>
            <td th:text="${homesAvg.getAvg_depenses()}"></td>
            <td th:text="${homesAvg.getAvg_epargnes()}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-3">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-4">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}}">Last</a>
                <span th:unless="${currentPage > 1}">Last</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
